/*EM*/
.carousel-menu-container {
position: relative;
height: 6em;
}


.carousel-menu {
  background-color: lightgray;
  padding: .4em 0;
  overflow: hidden;
  height: 6em;
  position: absolute;
  top: 0;
  left:0;

}

.carousel-menu-touchable {
  background-color: lightgreen;
height: 5.5em;
width: 100%;
position: absolute;
top: 0;
left: 0;
z-index: 10;
opacity: 0;
}

.carousel-menu-entry {

  background-color: #f6f6f6;
  margin: 0 0.2em;
  width: 4em;
  height: 4em;
  float: left;
  text-align: center;
  padding: 1em;
}

.carousel-menu-entry-selected {
  background-color:#75a5ff !important;
  color: whitesmoke;
}


.carousel-page-container {
  clear:both;
}


.carousel-menu-entry img {
  width:2em;
  margin: 0 auto 0.5em auto;
  display: block;
}

/*ORIGINAL
.carousel-menu-container {
  position: relative;
  height: 150px;
}


.carousel-menu {
  background-color:lightgray;
  padding: 10px 0 10px 0;
  overflow: hidden;
  height: 130px;
  position:absolute;
  top:0;
  left:0;
}

.carousel-menu-touchable {
 background-color:lightgreen;
  height: 130px;
 width: 100%;
  position:absolute;
  top:0;
  left:0;
 z-index: 10;
  opacity: 0;
}

.carousel-menu-entry {
  background-color:#f6f6f6;
  margin: 0 5px 0 5px;
  width: 100px;
  height: 80px;
  float: left;
  text-align: center;
  padding: 20px;

}

.carousel-menu-entry-selected {
  background-color:#75a5ff !important;
  color: whitesmoke;
}


.carousel-page-container {
  clear:both;
}


.carousel-menu-entry img {
  width: 50px;
  margin: 0 auto 10px auto;
  display: block;
}
*/
